 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
{{range .Cararr}}
<l2>{{.Name}} ==> {{.Price}}</l2>
{{end}}

{{range .Perarr}}
<l2>{{.Name}} ==> {{.Age}}</l2>
{{end}}
</body>
</html> 

